/* ===============================
   Root Variables and Base Styles
   =============================== */
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap");

:root {
  --primary: #1c2359;
  --secondary: #f96363;
  --web-primary: #f2652d;
  --web-hover-primary: #d5440b;
  --web-secondary: #275570;
  --background: #ffffff;
  --font-family: "Radio Canada Big", sans-serif;
  --text: #212529;
  --text-para: #7b7b7b;
  --heading: #0056b3;
  --muted: #adb5bd;
  --transition: 0.3s;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--white-color);
}
p {
  margin-bottom: 0px;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
/* ------------------Servide To Header Area------------------ */
.link-building-header-section {
  padding: 120px 0;
  background-color: #f9f9f9;
}

.link-building-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  gap: 2rem;
}

.link-content {
  flex: 1;
  min-width: 280px;
}

.link-content h1 {
  color: var(--web-secondary);
  font-size: 42px;
  line-height: 48px;
  font-weight: 600;
  margin: 0px;
}

.link-content .subheading {
  color: var(--web-secondary);
  font-size: 24px;
  margin-bottom: 20px;
  padding-top: 15px;
  line-height: 1.2;
  font-weight: 600;
}

.benefits-list {
  list-style: none;
  padding: 0;
  margin-bottom: 2rem;
}

.benefits-list li {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #333;
}
.check-icon {
  background-color: var(--web-secondary);
  height: 20px;
  width: 20px;
  line-height: 20px;
  display: inline-block;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  font-size: 13px;
  margin-right: 10px;
}
.button-group {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.service-header-section-btn .btn {
  font-size: 16px;
  padding: 10px 30px;
  min-width: 230px;
  text-align: center;
}
.service-header-section-btn .btn-link-publisher-primary:hover {
  color: var(--web-primary);
  border: 1px solid var(--web-primary);
}

.video-container {
  flex: 1;
  min-width: 280px;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 ratio */
  height: 0;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .link-building-wrapper {
    flex-direction: column;
    text-align: center;
  }

  .button-group {
    justify-content: center;
  }
}

/* ----------Pricing Section Start-------------- */
.pricing-section {
  background-color: #132936;
  padding: 50px 0;
  color: var(--background);
}

.service-section-title {
  max-width: 810px;
  margin: 0px auto;
  text-align: center;
  margin-bottom: 30px;
}

.service-section-title .service-heading {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 15px;
}

.service-subtitle {
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  letter-spacing: 0.32px;
}

.pricing-card {
  border-radius: 20px;
  border: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  max-height: 550px;
  transition: 0.4s;
}
.pricing-card:hover {
  background-color: var(--web-primary);
  color: #fff;
}
.pricing-card:hover .card-title,
.pricing-card:hover .card-price {
  color: #fff;
}
.pricing-card:hover .btn-outline-primary {
  background-color: #fff;
  color: var(--web-primary);
}

.pricing-card .card-title {
  text-transform: capitalize;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.4px;
  padding-bottom: 8px;
  display: block;
  color: var(--web-secondary);
}

.pricing-card .card-price {
  margin-bottom: 0;
  font-weight: 600;
  letter-spacing: 0.96px;
  font-size: 42px;
  line-height: 50px;
  color: var(--web-secondary);
}

.pricing-card .btn-outline-primary {
  color: var(--web-primary);
  border-color: var(--web-primary);
  transition: var(--transition);
}

.pricing-card .btn-outline-primary:hover {
  background-color: #fff;
  color: var(--web-primary);
}

.pricing-card .btn-light {
  color: var(--web-primary);
  background-color: white;
  font-weight: 600;
}

.pricing-card.recommended {
  background-color: var(--web-primary);
  color: white;
}
.recommended-badge {
  background: #fff;
  padding: 20px;
  color: var(--web-primary);
  box-shadow: 16px 24px 64px #f2652d3d;
  border: 1px solid var(--web-primary);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.pricing-card.recommended .card-price {
  color: #fff;
}

.pricing-card.recommended .card-title {
  color: white;
}

.plan-features {
  min-height: 300px;
  max-height: 300px;
  height: 100%;
  overflow-y: scroll;
  padding: 0 5px;
  margin-bottom: 25px;
}
.plan-features ul li {
  padding: 0 0 15px 15px;
}
.plan-features ul li .fa-circle-check {
  margin-right: 10px;
}

/* Custom Scrollbar for features */
.plan-features::-webkit-scrollbar {
  width: 6px;
}

.plan-features::-webkit-scrollbar-thumb {
  background-color: var(--web-primary);
  border-radius: 8px;
}

/* Responsive */
@media (max-width: 767px) {
  .pricing-card {
    max-height: none;
  }
}
/* ----------Pricing Section End-------------- */
